html, body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Lato",sans-serif;
    color:#666666;
    line-height:1.8rem;
    height:100% /* parallax */
}

.background--image1{
    background-image:url(./img/bg.jpg);
    min-height: 80%
}
.background--image2
{
    background-image:url(./img/bg1.jpg);
    min-height: 80%
}
.background--image3
{
    background-image:url(./img/bg2.jpg);
    min-height: 80%
}
.background--image4
{
    background-image:url(./img/bg3.jpg);
    min-height: 80%
}

.background--image1,
.background--image2,
.background--image3,
.background--image4{
    /*image parallax effect*/
position: relative;
opacity: 0.7;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
/* PARALLAX */
background-attachment: fixed;
}

.heading-container{
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: black;
    font-size:3rem;
    text-transform: uppercase;
    letter-spacing:0.5rem;
}

.heading-container--heading{
background-color: black;
color: white;
padding:2rem;
/* border-top-left-radius:2rem;
border-bottom-right-radius:2rem; */
border-radius: 2rem 0 2rem;
outline:0.5rem inset purple;
outline-offset:1rem;
line-height:5rem;
}

.heading-container__logo{
    width:30%;
    opacity:1;
}

.heading-container--text{
    background-color: black;
    color: white;
    padding:0.7rem;
    line-height:3rem;
    border-radius: 0.7rem 0 0.7rem 0rem;
    outline:0.4rem inset purple;
    outline-offset:0.2rem;
    text-transform: capitalize;
}

.section {
    text-align: center;
    padding: 3rem 5rem;
}

.section--dark{
    background-color: #282E34;
    color: white;

}

@media(max-width:760px) {
    .heading-container{
        font-size:1.5rem;
        letter-spacing:0.5rem;
    }
    .heading-container--heading{
        padding:0.8rem;
        border-radius: 1rem 0 1rem;
        outline:0.5rem inset purple;
        outline-offset:0.3rem;
        line-height:2.4rem;
        }
    .heading-container--text{
    padding:0.4rem;
    line-height:3rem;
    border-radius: 0.3rem 0 0.3rem 0rem;
    outline:0.4rem inset purple;
    outline-offset:0.2rem;
    }    
    .section {
        padding: 0.5rem 2rem;
    }
    

}